:root{
    --vermelho:#E50914;
    --preta:#141414;
    
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base cor de fundo e do texto menu e resumo */
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}

/* menu lado dir.*/
header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:30px;     /* 40 */
}

/* cor do menu texto */
header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}

/*filme principal*/
.texto-resumo{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), 
     url("/img/capa-house.jpg"); 

    height: 250px; /* altura img principal*/
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center; /* center texto ??? */
    align-items: flex-start;
}

.resumo {
    margin: 5;
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 40px; /* texto */
    text-align: justify;
    
}

.texto-resumo .titulo{
    margin-top: 160%; 
    font-size: 35px; /* 40 RESUMO */
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: left;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 5px;
    margin-bottom: 900px; /*botao*/

    font-size: 12px;
    

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px; 
}


.container{
    margin-left: 40px; /* espaçamento texto esq p/ dir */
}

.texto-resumo .container{
    width: 98%; /* largura do texto na tela */
    margin-left: 20px;
    padding: 0px;
    text-align: justify;
}

/* dimensões img */ 
.box-img{
    height: 200px; /*altura */
    width: 300px; /* largura */
    display: block;
    cursor: pointer;
}


.carrosel{
    margin-top: 5px; /* distancia entre img e img top carrocel*/
}
